<div class="link-button">
    <a  mat-button [routerLink]="['/']"><h1>Back</h1></a>
</div>

<div [ngStyle]="{
    width: '200px',
    height: '200px',
    margin:  '0 auto 20px',
    border: '1px solid #ccc',
    borderRadius: '5px',
    background: toggle? 'red' : 'blue'
}">

</div>

<div class="link-button">
    <a  mat-button (click)="toggle = !toggle"><h1>toggle</h1></a>
</div>

<hr>

<h1>Directive mouse enter mouse leave</h1>

<mat-card appDStyleMouse [dStyle]="{color: 'blue', fontWeight: 'bold'}">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, officia.
    </p>
</mat-card>