<div class="link-button">
    <button mat-raised-button color="primary"><a [routerLink]="['/']"> Back</a></button>
</div>

<div class="grid">
    <div>
        <h1>Pipe Date</h1>
        <br>
        <h3>{{now | date:'short' | uppercase | lowercase}} </h3>
        <h3>{{now | date:'d,MMM, y, HH:mm:ss a'}}</h3>
    </div>
    <div>
        <h1>Pipe String</h1>
        <h3>{{str | titlecase | slice:0:5}}</h3>
        <h3>{{str | titlecase | slice:5}}</h3>
        <h3>{{str | titlecase | slice:2:-7}}</h3>
    </div>
    <div>
        <h1>Pipe Number</h1>
        <h3>{{n}}</h3>
        <h3>{{n | number}}</h3>
        <h3>{{n | number:'2.0-0'}}</h3>
        <h3>{{n | number:'1.1-2'}}</h3>
    </div>
    <div>
        <h1>Pipe Json</h1>
        <h3>
            <pre>{{obj | json }}</pre>
        </h3>
    </div>
    <div>
        <h1>Pipe Currency, Percent</h1>
        <h3>{{number | currency}}</h3>
        <h3>{{number | percent}}</h3>
    </div>
</div>