<mat-toolbar color="primary">
    <span>My course</span>
    <span style="flex: 1 1 auto;"></span>
    <span class="nav-links">
        <span [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Home</span>
        <span id="login" (click)="login();  activateNavItem()">Login</span>
        <span id="logout" (click)="logout(); activateNavItem()">Logout</span>
    </span>
</mat-toolbar>

<div *ngIf="user !== 'logout'; else Login">
  <router-outlet></router-outlet>
</div>
<ng-template #Login>
  <h1 class="errorLogin">Please Login !</h1>
</ng-template>




<!--  active nav link 2 -->
  <!-- <ul>
    <li *ngFor="let item of navItems" [ngClass]="{ 'active': item.isActive }" (click)="activateNavItemm(item)">{{ item.name }}</li>
  </ul> -->




   <!-- active nav link 3 -->
  <!-- <div>
    <button *ngFor="let item of navItems"
            [class.active]="item === activeItem"
            (click)="setActiveItem(item)">
      {{ item.name }}
    </button>
  </div> -->