mat-toolbar {
    padding: 0 50px;
}

.router-link-active {
    color: #afadad;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}

.active{
    color: red;
}