<app-alert *ngIf="alertMessage" [message]="alertMessage"></app-alert>
<h1 class="title">Angular HttpClient</h1>
<button mat-flat-button color="primary" class="button-back button"><a routerLink="/">Back</a></button>


<mat-card class="main-container">
    <!-- form -->
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" (keyup.enter)="addTodo()" [(ngModel)]="title" placeholder="Title...">
    </mat-form-field>
    <mat-card-content>
        <button class="form-button" mat-flat-button (click)="addTodo()" color="primary">Add</button>
        <button mat-flat-button color="primary" (click)="getTodos()">Load</button>
    </mat-card-content>
    <hr>
    <!-- content -->
    <div *ngIf="!loading; else loadingBlock">
        <div *ngIf="todos.length; else noTodos">
            <mat-card class="card-content" *ngFor="let todo of todos">
                <span [class.completed]="todo.completed">
                    <h1>{{todo.title}}</h1>
                </span>
                <span>
                    <button class="form-button delite" mat-flat-button (click)="removeTodo(todo.id)">Delete</button>
                    <button mat-flat-button color="primary" (click)="completeTodo(todo.id)">Completed</button>
                </span>
            </mat-card>
        </div>
        <ng-template #noTodos>
            <h1>No todos</h1>
        </ng-template>
    </div>
    <ng-template #loadingBlock>
        <h1>Loading...</h1>
    </ng-template>
</mat-card>