mat-card{
    max-width: 800px;
    margin: 30px auto 30px;
}

mat-form-field {
    display: block;
    margin: 0px;
}

.validation{
    color: red;
    margin-bottom: 15px;
}
button a {
    color: #ffffff;
    text-decoration: none;
}
.button-back{
    margin: 20px auto;
    display: block;
    
}